
html {
  background-color: #464442;
}

header {
  background-color: DarkRed;
  color: white;
  padding: 12px;
  text-align: left;
}

h1 {
  font-family: Arial;
  font-weight: 400;
  font-size: 36px;
}

#navbar {
  background-color: DarkRed;
  border-bottom: 1px solid DarkRed;
  text-align: left;
  text-color: white;
  overflow: hidden;
}

#navbar a {
  display: inline-block;
  text-color: white;
  text-align: left;
  padding: 12px 12px;
}

#navbar a:hover {
  background-color: DarkRed;
  text-color: white;
}

/* CSS styling */
#navbar a {
  color: white;
}

#content {
  display: flex;
  flex-direction: row;
}

#content .text {
  flex: 1;
  text-align: left;
  color: white;
}

#content .image {
  flex: 1;
  text-align: right;
}


#container {
  margin: 2% 5% 100px 0%;
  padding: 10px;
  width: 100%;
}

body {
  text-align: left;
  width: auto;
  margin: 0 auto;
}

h2 {
  background-color: DarkRed;
  font-size: 36px;
  text-align: left;
  color: white;
  font-weight: normal;
}

h3 {
  background-color: DarkRed;
  font-size: 32px;
  color: white;
  font-weight: normal;
}

.image-container {
  display: flex;
  justify-content: center;
  color: white;
}

.grid-item {
  flex: 1;
}

img {
  margin: 0 10px;
  max-width: 80%;
  height: auto;
}

h4 {
  color: white; /* Heading color for Image 1 */
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.caption {
  text-align: center;
  color: white; /* Caption color for Image 1 */
}

.grid-item:nth-child(2) h4 {
  color: white; /* Heading color for Image 2 */
}

.grid-item:nth-child(2) .caption {
  color: white; /* Caption color for Image 2 */
}

.grid-item:nth-child(3) h4 {
  color: white; /* Heading color for Image 3 */
}

.grid-item:nth-child(3) .caption {
  color: white; /* Caption color for Image 3 */
}
 /* CSS styling */
    #navbar a {
      color: white;
    }

    #content {
      display: flex;
      flex-direction: row;
    }

    #content .text {
      flex: 1;
      text-align: left;
      color: white;
    }

    #content .image {
      flex: 1;
      text-align: right;
    }



/* Footer */

footer {
  background-color: DarkRed;
  padding: 5px;
  margin: 5px;
  text-align: right;
  color: white;
}

footer a {
  margin: 0 px;
  color: white;
  text-decoration: none;
}
